*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-regular;
  src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}

html {
  overflow-x: hidden;
}

body {
  padding: 20px 30px;
  background-color: black;
  overflow-x: hidden;
}

#app {
  /* border: 1px solid rgb(255, 0, 0); */
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 222px;
  /* border: 1px solid rgb(255, 255, 255); */
}

.title {
  width: 373px;
  height: 62px;
  /* border: 1px solid yellow; */
  color: white;
  font-family: Montserrat-Bold;
  font-size: 20px;
}

.title h3 {
  font-family: Montserrat-regular;
  color: #ABABAB;
  width: 12ch;
  overflow: hidden;
  /* border: 1px solid red; */
  border-right: 1px solid gray;
  white-space: nowrap;
  animation:
    typing 6s steps(12) infinite,
    blink 0.7s infinite,
    change 0.3s infinite ease-in-out;
}

@keyframes typing {
  0% {
    width: 0;
    border-color: #ABABAB;
  }
  40% {
    width: 12ch;
    border-color: rgb(46, 46, 46);
  }
  60% {
    width: 12ch;
    border-color: #ABABAB;
  }
  100% {
    width: 0;
    border-color: rgb(46, 46, 46);
  }
}

@keyframes change {
  0% {
    border-color: #ABABAB;
  } 100% {
    border-color: rgb(46, 46, 46);
  }
}

#about {
  position: relative;
  height: 35px;
  margin-left: auto;
  color: white;
  font-family: Montserrat-Bold;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s;
}

#about:hover  {
  color: gray;
  transition: 0.3s;
  -webkit-text-stroke:  0.5px #3a3a3a;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;
  position: relative;
  width: 100%;
}

.contact-info {
  position: relative;
  width: 368px;
  height: 322px;
  border-top: 1px solid #ABABAB;
}

.txt-contact {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  font-family: Montserrat-regular;
  text-align: left;
  border-bottom: 1px solid #ABABAB;
}

.type-contact {
  position: relative;
  padding: 12px 6px;
  width: 100%;
  color: white;
  font-family: Montserrat-regular;
  font-size: 14px;
  border-bottom: 1px solid #ABABAB;
  transition: 0.3s;
}

.type-contact:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.cv-info {
  position: relative;
  width: 832px;
  border-top: 1px solid #ABABAB;
  
}

.curriculo {
  position: relative;
  width: 100%;
  padding-bottom: 37px;
  margin-top: 30px;
  color: white;
  font-family: Montserrat-Bold;
  font-size: 14px;
  border-bottom: 1px solid #ABABAB;
}

.objetive {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #ABABAB;
  height: 153px;
}

.objetive h2, .curso h2, .skillsAndMore h2, .information h2{
  position: relative;
  margin-bottom: 15px;
  color: white;
  font-family: Montserrat-Bold;
  font-size: 14px;
}

.objetive li {
  position: relative;
  margin-top: 3px;
  margin-left: 25px;
  color: #ABABAB;
  font-family: Montserrat-regular;
  font-size: 14px;
}

.situation {
  display: flex;
  position: relative;
  margin-top: 12px;
}

.curso {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ABABAB;
}

.curso p {
  position: relative;
  padding-right: 13px;
  color: white;
  font-family: Montserrat-Bold;
  font-size: 13px;
  
}

.situation p {
  border-right: 1px solid #ABABAB;
  color: #ABABAB;
}



.curso span {
  position: relative;
  padding-left: 13px;
  color: white;
  font-family: Montserrat-regular;
  font-size: 13px;
}

.skillsAndMore {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #ABABAB;
}

.skillsAndMore div {
  position: relative;
  padding: 15px 35px;
  width: 350px;
  border-top: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
}

.skills {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
}



.certificados {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #ABABAB;
}

.skillsAndMore li {
  position: relative;
  color: #ABABAB;
  font-family: Montserrat-regular;
  font-size: 14px;
}

.information {
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ABABAB;
}

.information p {
  color: #ABABAB;
  font-family: Montserrat-regular;
  font-size: 14px;
}

.rodape {
  position: relative;
  padding: 30px 0;
  margin-top: 85px;
  border-top: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  color: white;
  font-family: Montserrat-regular;
}

.rodape h2 {
  color: white;
  font-weight: 600;
}

.rodape h3 {
  color: #5a5a5a;
}

.rodape h2, .rodape h3 {
   transform: scale(0.8);
   text-align: center;
   
}


@media screen and (max-width: 844px){
  .content {
    justify-content: center;
    width: 100%;
  }

  #about {
    font-size: 18px;
  }

  .cv-info {
    border-top: none;
  }

  .title {
    width: 220px;
  }

  .title h2, .title h3 {
    font-size: 22px;
  }

  .skillsAndMore {
    gap: 15px 0;
    flex-wrap: wrap;
    
  }

  .certificados {
    border-top-right-radius: 0px;
    border-left: 1px solid #ABABAB;
    border-top-left-radius: 15px;
  }
}





